.tile-image {
  width: auto;
  height: 70%;
}

.tile-grid {
  background-color: #202020;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.07);

  &:hover {
    cursor: pointer;
  }

  mat-grid-tile-header, mat-grid-tile-footer {
    background: none;
  }
}

.mat-grid-tile-header {
  font-size: 20px;
}
