.search-container {
  margin-top: 50px;
  text-align: center;
}

.search-icon {
  vertical-align: middle;
}

.search-input {
  border-radius: 20px;
  height: 30px;
  margin: 0 10px;
  padding-left: 15px;
  width: 50%;
}

